In [27]:
import pandas as pd
import numpy as np
import sklearn

In [28]:
df = pd.read_csv("tested.csv")

In [29]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [30]:
### Data cleaning 
### FE
### model selection
### saving model PKL

In [31]:
## 1. data cleaning (missing blank value, imbalanced data, drop values)

In [32]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    str
 4   Sex          418 non-null    str
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    str
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     str
 11  Embarked     418 non-null    str
dtypes: float64(2), int64(5), str(5)
memory usage: 39.3 KB

In [33]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [34]:
## missing values handle , fill this missing values with some random number
## min, medium, mode

## 5, 4,10,67,45,34,23,45,45 ,37,27, 24, 67,70
## 5 to 27

In [35]:
dfs = df['Age'].median()

In [36]:
dfs

np.float64(27.0)

In [37]:
df['Age'] = df['Age'].fillna(dfs, inplace=True)

C:\Users\Ravi\AppData\Local\Temp\ipykernel_28528\477064918.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['Age'] = df['Age'].fillna(dfs, inplace=True)

In [38]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,27.0,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,27.0,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,27.0,1,1,2668,22.3583,NaN,C

In [39]:
df['Ticket'].value_counts()

Ticket
PC 17608              5
113503                4
CA. 2343              4
C.A. 31029            3
PC 17483              3
                     ..
A.5. 3236             1
PC 17758              1
SOTON/O.Q. 3101262    1
359309                1
2668                  1
Name: count, Length: 363, dtype: int64

In [40]:
#male 0, female 1 , someelee3, 100, 1,2,3,4,5,6,7,8,9
# a,b,c,d,e,e,f
# 0, 0, 0, 0, 1, 0

In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
le = LabelEncoder()

In [43]:
df['Sex'] = le.fit_transform(df['Sex'] )

In [44]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",1,27.0,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",1,27.0,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",1,27.0,1,1,2668,22.3583,NaN,C

In [21]:
###df['Ticket'].cat , how to handle categorical column with dataframe 
### drop unnecessary columns 
### split , 80, 20 train test
### training the model = 80

In [45]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",1,27.0,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",1,27.0,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",1,27.0,1,1,2668,22.3583,NaN,C

In [51]:
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'] , axis=1, inplace=True)

In [ ]:
df

In [58]:
##df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'],axis=1, inplace=True)

In [56]:
df

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    1  34.5      0      0    7.8292        Q
1           1       3    0  47.0      1      0    7.0000        S
2           0       2    1  62.0      0      0    9.6875        Q
3           0       3    1  27.0      0      0    8.6625        S
4           1       3    0  22.0      1      1   12.2875        S
..        ...     ...  ...   ...    ...    ...       ...      ...
413         0       3    1  27.0      0      0    8.0500        S
414         1       1    0  39.0      0      0  108.9000        C
415         0       3    1  38.5      0      0    7.2500        S
416         0       3    1  27.0      0      0    8.0500        S
417         0       3    1  27.0      1      1   22.3583        C

[418 rows x 8 columns]

In [59]:
df

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    1  34.5      0      0    7.8292        Q
1           1       3    0  47.0      1      0    7.0000        S
2           0       2    1  62.0      0      0    9.6875        Q
3           0       3    1  27.0      0      0    8.6625        S
4           1       3    0  22.0      1      1   12.2875        S
..        ...     ...  ...   ...    ...    ...       ...      ...
413         0       3    1  27.0      0      0    8.0500        S
414         1       1    0  39.0      0      0  108.9000        C
415         0       3    1  38.5      0      0    7.2500        S
416         0       3    1  27.0      0      0    8.0500        S
417         0       3    1  27.0      1      1   22.3583        C

[418 rows x 8 columns]

In [61]:
df['Embarked'].value_counts()

Embarked
S    270
C    102
Q     46
Name: count, dtype: int64

In [62]:
df.drop('Embarked', axis=1, inplace=True)

In [63]:
df

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare
0           0       3    1  34.5      0      0    7.8292
1           1       3    0  47.0      1      0    7.0000
2           0       2    1  62.0      0      0    9.6875
3           0       3    1  27.0      0      0    8.6625
4           1       3    0  22.0      1      1   12.2875
..        ...     ...  ...   ...    ...    ...       ...
413         0       3    1  27.0      0      0    8.0500
414         1       1    0  39.0      0      0  108.9000
415         0       3    1  38.5      0      0    7.2500
416         0       3    1  27.0      0      0    8.0500
417         0       3    1  27.0      1      1   22.3583

[418 rows x 7 columns]

In [64]:
## Feature and Target split
# input = ['a,b,c,s,c,s,s']
# output = ['yes, no']
X = df.drop('Survived', axis = 1)
y = df['Survived']

In [65]:
X

     Pclass  Sex   Age  SibSp  Parch      Fare
0         3    1  34.5      0      0    7.8292
1         3    0  47.0      1      0    7.0000
2         2    1  62.0      0      0    9.6875
3         3    1  27.0      0      0    8.6625
4         3    0  22.0      1      1   12.2875
..      ...  ...   ...    ...    ...       ...
413       3    1  27.0      0      0    8.0500
414       1    0  39.0      0      0  108.9000
415       3    1  38.5      0      0    7.2500
416       3    1  27.0      0      0    8.0500
417       3    1  27.0      1      1   22.3583

[418 rows x 6 columns]

In [66]:
y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [ ]:
### training vs testing

### 500 rows, 400 - training (wll go to ML model train) , 100 rows testing (random data)

In [67]:
from sklearn.model_selection import train_test_split

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.2, random_state=42)

In [ ]:
### training(80%) , X_train and y_train will go for training (.fit) method

# and testing(20%) , x_test, y_test -- testing

In [113]:
X_test

     Pclass  Sex   Age  SibSp  Parch      Fare
321       3    1  25.0      0      0    7.2292
324       1    0  39.0      0      0  211.3375
388       3    1  21.0      0      0    7.7500
56        3    1  35.0      0      0    7.8958
153       3    0  36.0      0      2   12.1833
..      ...  ...   ...    ...    ...       ...
57        3    1  25.0      0      0    7.6500
126       3    1  22.0      0      0    7.7958
24        1    0  48.0      1      3  262.3750
17        3    1  21.0      0      0    7.2250
66        3    0  18.0      0      0    7.8792

[84 rows x 6 columns]

In [114]:
y_test

321    0
324    1
388    0
56     0
153    1
      ..
57     0
126    0
24     1
17     0
66     1
Name: Survived, Length: 84, dtype: int64

In [ ]:
# X_train , y_train - model training 80 % (model)
# X_test , y_test - model testing 20 %
# fit the splitted data into ML algo
# predict output , based on input features

In [ ]:
#X_train, X_test, y_train, y_test

In [86]:
## train MODEL ()
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [102]:
logistic_model = LogisticRegression(max_iter = 100)
rf_model = RandomForestClassifier(n_estimators=200, max_depth=10)

### y = mx + c (linear regression math),(y = m1x1 + c1 + m2x2 + c2 + ...............n)

In [100]:
##X_train['Fare'].isnull().sum()

In [103]:
#X_train, X_test, y_train, y_test
# training model
rf_model.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, n_estimators=200)

In [105]:
X_train

     Pclass  Sex   Age  SibSp  Parch     Fare
336       2    1  32.0      0      0  13.0000
31        2    1  24.0      2      0  31.5000
84        2    1  27.0      0      0  10.7083
287       1    1  24.0      1      0  82.2667
317       2    1  19.0      0      0  10.5000
..      ...  ...   ...    ...    ...      ...
71        3    1  21.0      0      0   7.8958
106       3    1  21.0      0      0   7.8208
270       1    1  46.0      0      0  75.2417
348       2    1  24.0      0      0  13.5000
102       3    1  27.0      0      0   7.7500

[334 rows x 6 columns]

In [115]:
y_pred = rf_model.predict(X_test)

In [ ]:
## prediction, on the data which model ahs never seen
y_pred

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1])

In [ ]:
## actual data 
for i in y_test:
    print(i, end="")

010010101001110010000010111000011010101011000011100110010010001010000000010101100101

In [125]:
X_test

     Pclass  Sex   Age  SibSp  Parch      Fare
321       3    1  25.0      0      0    7.2292
324       1    0  39.0      0      0  211.3375
388       3    1  21.0      0      0    7.7500
56        3    1  35.0      0      0    7.8958
153       3    0  36.0      0      2   12.1833
..      ...  ...   ...    ...    ...       ...
57        3    1  25.0      0      0    7.6500
126       3    1  22.0      0      0    7.7958
24        1    0  48.0      1      3  262.3750
17        3    1  21.0      0      0    7.2250
66        3    0  18.0      0      0    7.8792

[84 rows x 6 columns]

In [126]:
y_test

321    0
324    1
388    0
56     0
153    1
      ..
57     0
126    0
24     1
17     0
66     1
Name: Survived, Length: 84, dtype: int64

In [145]:
### Pclass =3	Sex= 1	Age 25	SibSp = 0	Parch = 0	Fare = 7.22
sample_passanger = np.array([[1, 1, 25, 0, 0 , 528.22]])

In [146]:
sample_passanger

array([[  1.  ,   1.  ,  25.  ,   0.  ,   0.  , 528.22]])

In [147]:
# not survived = 0

In [148]:
sample_predict = rf_model.predict(sample_passanger)

c:\Users\Ravi\AI-BATCH-2026-MORNINNG\environment\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [149]:
sample_predict

array([0])

In [150]:
### accuracy , confusion matrix

In [151]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [153]:
print("Accuracy scory is:",accuracy_score( y_test, y_pred))

Accuracy scory is: 1.0

In [154]:
confusion_matrix(y_test, y_pred)

array([[50,  0],
       [ 0, 34]])

In [ ]:
## precision and recall

### high precision means = low false positive rate = you have less numbers as false positive 

## 0.9
# high precision 0.80  = low false posistive rate = 500
# high recall 0.50 = low false negative rate = 10

In [ ]:

## FP - person was not guilty but predicted as guilty - low ? high precision 
## FN - person was guilty but predicted as not guilty - 

## guilty  =  1
## not guilty = 0

## survived  = 1
## not survived = 0

## has cancer = 1
## not having cancer = 0



## total FP - low false positive numbers - actual person did not servive, but predicted as servived  - 0 - high precision


## racall ## total FN (0.90) - low false negatve rate - actual person was servived , but predicted as not servived - 0 - low  


## high recall - high recall
## high precision - high precision

In [157]:
from sklearn.metrics import recall_score, precision_score, f1_score

In [158]:
f1_score(y_test, y_pred)

1.0

In [159]:
from sklearn.metrics import classification_report

In [162]:
resport = classification_report(y_test, y_pred)

In [163]:
print(resport, end = "")

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [164]:
import pickle